* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  display: flex;
  align: right;
  padding: 10px;
  justify-content: flex-end;
  background-color: #222;
  color: white;
  position: static;
  top: 0;
  z-index: 100;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: skyblue;
}

.section {
  padding: 60px 20px;
  text-align: left;
}

.button{
  text-align: right; 
  margin-top: 2px;
}

.btn{
      background: white;
      color: #007acc;
      padding: 5px 40px;
      border-radius: 6px;
      text-decoration: none;
      font-weight: bold;
      text-align: right;
}

.tag {
  font-weight: 500;
  font-family: 'Segoe UI', sans-serif;
  text-align: left;

}

.home {
  background-color: skyblue;
  color: white;
}

section h1{
  font-size: 28px;
  color: #222;
}

section .skill{
  list-style: none;
      padding: 10;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 10px;
}

section .skill li{
   background: #fff;
      padding: 10px;
      border-radius: 6px;
      text-align: center;
      box-shadow: 0 1px 6px rgba(0,0,0,0.1);
}


.projects .project-card {
  margin: 20px auto;
  padding: 20px;
  background: white;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
